{% load static %}


{% include 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Careers{% endblock %}

{% block base_css %}
<script  src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div style="height: 80vh;" class="jumbotron">
    <h1 class="display-4">Careers</h1>
    <p class="lead">Welcome</p>
    <hr class="my-4">
    <p>We are not hiring at the moment ,but please keep checking this web-space for any updates on Recruitment @ AMTZ</p>
</div>
{% endblock %}

{% include 'footer.html' %}